/*Set background of page*/
body {
    background-image: url("/backgrond.jpg");
 }

 /*The Center Block to write down the information*/
.design {
    align-items: center;
    margin-top: 3% !important;
    margin: auto;
    width: 800px !important;
    height: 800px !important;
    background-color: white;
}

.information{
    margin: 2%;
    text-align: center;
}

/*Profile Image*/
.circleimage { 
    /*To place blocks to the center of page*/
    width: 150px; 
    height: 150px;
    padding-top: 2%;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;    
}

img {
    border: 3px solid black;
    border-radius: 50%; 
    height: auto;
    width: 100%;
}

table
{
	border-spacing: 50px 50px !important;
    table-layout: fixed;
    margin: auto;
}

td {
    padding: 17px;
    text-align: center;
}

a:link, a:visited {
    color: black;
    text-decoration: none;
  }

i {
    color: black;
}

i:hover{
    color: peru !important;
    background-color: transparent;
}

.zoom:hover{
    transform: scale(1.2);
    transition-duration: 0.5s;
}

.myid {
    position: relative; 
    top: -4px;
    line-height: 20px;
    font-size: 16px;
    font-style: normal;
}
/*Set colors for the button*/
.btn-primary{
    background-color: #DDA0DD !important;
}